.App {
  text-align: center;
     
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button{
   color: aliceblue;
    width: 500px;
    text-align: center;
    padding: 4px;
    background:  black;
    
}
.menu {
  background-color: #f1f1f1;
  padding: 10px;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
}
.card{
  border: 1px solid white;
}

.header li a.active {
  background-color: darkkhaki; 
}
.header{
display: flex;
list-style: none;
background-color: black;

}
.container{
  column-count: 3; 
  column-gap: 100px;
  width: 100%;
  height:100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer{
  background-color: darkkhaki;
}
.column img{
   max-width: 500px;
  height: auto;
  padding-top: 10px;
}
.column{
  display: inline-block;
  margin-right: 10px;
 
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
